/ ==============================content================================
%section#content
  .top_box
    .inner
      .container_12
        .wrapper
          %article.grid_8
            .pad_box
              %h2.ind Blog
              %ul.blog_list
                %li
                  .ext_box.blog_info
                    %figure
                      25
                      %span nov
                    %div
                      .title
                        Vestibulum sed ante donec sagittis euismod
                      .links
                        .posted
                          Posted by
                          %a{:href => "#"} Butterfly
                        .comment
                          %a{:href => "#"} 12 Comment(s)
                  .ext_box.blog
                    %figure
                      %img{:alt => "", :src => "images/blog1.jpg"}/
                    %div
                      %span.blue Lorem ipsum dolor sit amet, consect etur adi scing elit sren mate port raellu milsue sre port lorem porta.
                      %br
                        Lem ut tortor urnati dunt dolorunc vulputa  ultrices con sect etur donec. Lorem ipsum dolor sit amet, consect etur adi scing elit. Vestibulum ut tortor urnati dunt dolorunc
                        %br
                          %a.link2{:href => "#"} Read More
                %li
                  .ext_box.blog_info
                    %figure
                      25
                      %span nov
                    %div
                      .title
                        Vestibulum sed ante donec sagittis euismod
                      .links
                        .posted
                          Posted by
                          %a{:href => "#"} Butterfly
                        .comment
                          %a{:href => "#"} 12 Comment(s)
                  .ext_box.blog
                    %figure
                      %img{:alt => "", :src => "images/blog2.jpg"}/
                    %div
                      %span.blue Lorem ipsum dolor sit amet, consect etur adi scing elit sren mate port raellu milsue sre port lorem porta.
                      %br
                        Lem ut tortor urnati dunt dolorunc vulputa  ultrices con sect etur donec. Lorem ipsum dolor sit amet, consect etur adi scing elit. Vestibulum ut tortor urnati dunt dolorunc
                        %br
                          %a.link2{:href => "#"} Read More
                %li.last
                  .ext_box.blog_info
                    %figure
                      25
                      %span nov
                    %div
                      .title
                        Vestibulum sed ante donec sagittis euismod
                      .links
                        .posted
                          Posted by
                          %a{:href => "#"} Butterfly
                        .comment
                          %a{:href => "#"} 12 Comment(s)
                  .ext_box.blog
                    %figure
                      %img{:alt => "", :src => "images/blog3.jpg"}/
                    %div
                      %span.blue Lorem ipsum dolor sit amet, consect etur adi scing elit sren mate port raellu milsue sre port lorem porta.
                      %br
                        Lem ut tortor urnati dunt dolorunc vulputa  ultrices con sect etur donec. Lorem ipsum dolor sit amet, consect etur adi scing elit. Vestibulum ut tortor urnati dunt dolorunc
                        %br
                          %a.link2{:href => "#"} Read More
          %article.grid_4.last-col
            .pad_box
              %h2.ind1 Categories
              %ul.list1.categories
                %li
                  %a{:href => "#"} Aliquam congue fermentum nisl muris accum
                %li
                  %a{:href => "#"} Vel diam sed in lacus ut enim adipi
                %li
                  %a{:href => "#"} Secing aliquet nulla venenatis
                %li
                  %a{:href => "#"} In pede mi aliquet sit amet euismod iners
                %li
                  %a{:href => "#"} Aliquam congue fermentum nisl muris accum
                %li
                  %a{:href => "#"} Vel diam sed in lacus ut enim adipi
                %li
                  %a{:href => "#"} Secing aliquet nulla venenatis
                %li
                  %a{:href => "#"} In pede mi aliquet sit amet euismod iners
                %li.last
                  %a{:href => "#"} Aliquam congue fermentum nisl muris accum
              %h2.ind1 Archives
              %ul.list1
                %li
                  %a{:href => "#"} November 2012
                %li
                  %a{:href => "#"} October 2012
                %li
                  %a{:href => "#"} September 2012
                %li
                  %a{:href => "#"} August 2012
                %li.last
                  %a{:href => "#"} July 2012