/ ==============================content================================
%section#content
  .top_box
    .inner
      .container_12
        .wrapper
          -#%article.grid_4
            .pad_box
              %h2.ind Membership
              %ul.membership_list
                %li
                  %a{:href => "#"} About Membership
                %li
                  %a{:href => "#"} Affiliate Program
                %li
                  %a{:href => "#"} Special Proposition
                %li
                  %a{:href => "#"} About Our Clients
                %li
                  %a{:href => "#"} Client Services
                %li.last
                  %a{:href => "#"} Client Support
          %article.grid_8.last-col
            .pad_box
              %h2.ind Our Clients
              .wrapper.client_box.m_bot2
                .client
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/banner1.jpg"}/
                  %strong Fabulous N Frugal.
                  %br
                    Lorem ipsum dolor sit amet, consect etur adi scin.
                    %br
                      %a.link1{:href => "www.fabulusnfrugal.com"} Go to site
                .client
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/banner1.jpg"}/
                  %strong Fabulous N Frugal.
                  %br
                    Lorem ipsum dolor sit amet, consect etur adi scin.
                    %br
                      %a.link1{:href => "www.fabulusnfrugal.com"} Go to site      
                .client
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/banner2.jpg"}/
                  %strong Ryan's Notes.
                  %br
                    Lorem ipsum dolor sit amet, consect etur adi scin.
                    %br
                      %a.link1{:href => "www.ryansnotes.com"} Go to site
                .client
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/banner3.jpg"}/
                  %strong North Rock Financial.
                  %br
                    Lorem ipsum dolor sit amet, consect etur adi scin.
                    %br
                      %a.link1{:href => "www.northrockfinancial.com"} Go to site
              -#.wrapper.client_box.m_bot2
                .client
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/banner4.jpg"}/
                  %strong Company name.
                  %br
                    Lorem ipsum dolor sit amet, consect etur adi scin.
                    %br
                      %a.link1{:href => "#"} Go to site
                .client
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/banner5.jpg"}/
                  %strong Company name.
                  %br
                    Lorem ipsum dolor sit amet, consect etur adi scin.
                    %br
                      %a.link1{:href => "#"} Go to site
                .client
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/banner6.jpg"}/
                  %strong Company name.
                  %br
                    Lorem ipsum dolor sit amet, consect etur adi scin.
                    %br
                      %a.link1{:href => "#"} Go to site
              .wrapper.client_box
                .client
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/banner7.jpg"}/
                  %strong Company name.
                  %br
                    Lorem ipsum dolor sit amet, consect etur adi scin.
                    %br
                      %a.link1{:href => "#"} Go to site
                .client
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/banner8.jpg"}/
                  %strong Company name.
                  %br
                    Lorem ipsum dolor sit amet, consect etur adi scin.
                    %br
                      %a.link1{:href => "#"} Go to site