/ ==============================SLIDER================================
.slider_box
  .blue_glow
  .round_box
    .flexslider
      %ul.slides
        %li
          %figure
            %img{:alt => "", :src => "images/slide1.png"}/
        %li
          %figure
            %img{:alt => "", :src => "images/slide2.png"}/
    .banner
      .inner
        Welcome to Afrails, your local webshop, where we develop web solutions to your business problems.
        %span Let us transform your passions and objectives into solutions for your business.
/ ==============================content================================
%section#content.cont_pad
  .box1
    .inner
      .container_12
        .wrapper
          %article.grid_12
            .pad_box.pad_box1
              %h2.ind Featured Projects
              .wrapper
                .grid_3.alpha
                  .product
                    %a.light-box{:href => "images/product5_big.jpg"}
                      %img{:alt => "", :src => "images/product5.jpg"}/
                    %h3
                      = link_to "Fabulous & Frugal", "http://www.fabulousnfrugal.com/", :target => "_blank"
                    Financial Blog
                .grid_3
                  .product
                    %a.light-box{:href => "images/product7_big.jpg"}
                      %img{:alt => "", :src => "images/product7.jpg"}/
                    %h3
                      = link_to "MMA-Diehards", "http://www.mmadiehards.com/", :target => "_blank"
                    MIXED MARTIAL ARTS
                .grid_3
                  .product
                    %a.light-box{:href => "images/product8_big.jpg"}
                      %img{:alt => "", :src => "images/product8.jpg"}/
                    %h3
                      = link_to "ICGC Rhode Island", "http://www.centralgospelri.org/", :target => "_blank"
                    GOSPEL CHURCH
                .grid_3.last-col.omega
                  .product
                    %a.light-box{:href => "images/product6_big.jpg"}
                      %img{:alt => "", :src => "images/product6.jpg"}/
                    %h3
                      = link_to "RNFerrous Notes", "http://www.ryansnotes.com/", :target => "_blank"
                    METALS NEWS REPORT
  .box2.offer_box
    .inner
      .container_12
        .wrapper
          %article.grid_12
            .pad_box
              %h3.ind1 Our Process, from start to finish
              .wrapper
                .grid_3.alpha
                  .offer
                    %img{:alt => "", :src => "images/offer1.png"}/
                    %h3
                      %a{:href => "#"} Discover &amp; Plan
                    We value conversations and interactions. Tell us your vision, goals over some coffee and lets discuss how we can assist you achieve that VISION..
                .grid_3
                  .offer
                    %img{:alt => "", :src => "images/offer2.png"}/
                    %h3
                      %a{:href => "#"} Organize &amp; Refine
                    We like storyboards. So we take your thoughts and ideas, make some recommendations of our own and viola create a visual representation of what your website will probably look like and what it'll be able to do.
                .grid_3
                  .offer
                    %img{:alt => "", :src => "images/offer3.png"}/
                    %h3
                      %a{:href => "#"} Build &amp; Deploy
                    This is where our wonderful programmers and designers turn the stories into computer code. If you like it, we unleash the masterpiece upon the world.
                .grid_3.omega.last-col
                  .offer
                    %img{:alt => "", :src => "images/offer4.png"}/
                    %h3
                      %a{:href => "#"} Grow &amp; Measure
                    We will work to grow and maintain your website/web application free of charge for the first month after it has been completed and launched. It will be tweaked during this stage for performance optimization.
-#
  .box3
    .inner
      .container_12
        .wrapper
          .grid_12
            .pad_box
              %h3.ind1 Meet Afrails Development Team
              .wrapper.clients
                .grid_2.alpha
                  %a{:href => "#"}
                    %img{:alt => "", :src => "/assets/gheming-cartoon.jpg"}/
                .grid_2
                  %a{:href => "#"}
                    %img{:alt => "", :src => "/assets/jamesn-cartoon.jpg"}/
                .grid_2
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/client3.jpg"}/
                .grid_2
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/client4.jpg"}/
                .grid_2
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/client5.jpg"}/
                .grid_2.omega.last-col
                  %a{:href => "#"}
                    %img{:alt => "", :src => "images/client6.jpg"}/
  .box4
    .inner
      .container_12
        .wrapper
          .pad_box
            .grid_12
              .ext_box.comment
                %figure
                %div
                  .text
                    "My website project was almost seamless, a very easy team to work with, they quickly responded to any and all inquiries with the utmost professionalism."
                  .author
                    %span Kara Stevens
                    Owner, Fabulous &amp; Frugal
/ ==============================footer=================================