/ ==============================content================================
%section#content
  .top_box
    .inner
      .container_12
        .wrapper
          .grid_12
            .pad_box
              %h2.ind Our Work
              .wrapper.m_bot1
                %article.grid_4.alpha
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio1.jpg"}/
                    %h3 Fusce euismod consequat
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet
                %article.grid_4
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio2.jpg"}/
                    %h3 Sum dolor haslelu misl
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet
                %article.grid_4.last-col.omega
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio3.jpg"}/
                    %h3 Fusce euismod consequat
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet
              .wrapper.m_bot1
                %article.grid_4.alpha
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio4.jpg"}/
                    %h3 Sum dolor haslelu misle
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet
                %article.grid_4
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio5.jpg"}/
                    %h3 Fusce euismod consequat
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet
                %article.grid_4.last-col.omega
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio6.jpg"}/
                    %h3 Sum dolor haslelu misle
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet
              .wrapper
                %article.grid_4.alpha
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio7.jpg"}/
                    %h3 Fusce euismod consequat
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet
                %article.grid_4.last-col
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio8.jpg"}/
                    %h3 Sum dolor haslelu misle
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet