/ ==============================content================================
%section#content
  .top_box
    .inner
      .container_12
        .wrapper
          .grid_12
            .pad_box
              %h2.ind Our Work
              .wrapper.m_bot1
                %article.grid_4.alpha
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "assets/portfolio1.jpg"}/
                    %h3 Central Gospel Church
                    Rhode Island based Central Gospel International Church
                %article.grid_4
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "assets/portfolioFnf.jpg"}/
                    %h3 Fabulous and Frugal
                    Fabulous and Frugal women's finance blog
                %article.grid_4.last-col.omega
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "assets/portfolioRN.jpg"}/
                    %h3 Non Ferrous Notes
                    Ryan's Notes Customer Management System
              .wrapper.m_bot1
                %article.grid_4.alpha
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "assets/portfolioMMA.jpg"}/
                    %h3 MMA DIE HARDS
                    Mixed Marshal Arts diehards site
                -#%article.grid_4
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio5.jpg"}/
                    %h3 Fusce euismod consequat
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet
                -#%article.grid_4.last-col.omega
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio6.jpg"}/
                    %h3 Sum dolor haslelu misle
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet
              -#.wrapper
                %article.grid_4.alpha
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio7.jpg"}/
                    %h3 Fusce euismod consequat
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet
                %article.grid_4.last-col
                  .portfolio
                    %a.light-box1{:href => "images/blank.png"}
                      %img{:alt => "", :src => "images/portfolio8.jpg"}/
                    %h3 Sum dolor haslelu misle
                    Fusce euismod consequat ante. Lor em ipsum dolor sit amet