// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
      margin: 10px;
      border-collapse: collapse;
      width: 90%;
      table-layout: fixed;
             th {
                 border: 1px solid blue;
                 font-size: 100%;
                 }
             td.message {
                 width: 30%;
                 overflow: hidden;
                 }
}

ul.contacts {
            font-size: 12px;
            
            li {
               background: brown;
            }
         }
         