 .round_box{background:#08151d;position: relative;overflow: hidden;height:451px;padding: 16px 0 0;}
 
 .round_box .banner{background: url('../images/banner.png') 46px 47px no-repeat #183b51;height:194px;width:100%;font-size: 30px; line-height: 38px; color: #fff;position: absolute;left:0;bottom:0;z-index:999;}
.round_box .banner .inner{padding: 40px 40px 0 176px;}
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;background:#08151d;position: relative;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 97px 0px 111px; position: relative; }
.flex-viewport {}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

/* Direction Nav */
.flex-direction-nav a {width: 22px; height: 32px; margin: 0px 0 0; display: block; position: absolute; top: 47%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav .flex-next {background: url('../images/next.png') no-repeat;right:-57px; }
.flex-direction-nav .flex-prev {background: url('../images/prev.png') no-repeat;left:-74px;}
.flex-direction-nav a:hover{background-position:0 -32px;}


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 0px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block;cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active{ background-position:0 0;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  
}