.container_12
  .wrapper
    .grid_12
      .privacy
        %strong AFRAILS
        \&copy;&nbsp;  2013 |
        %a{:href => "index-5.html"} Privacy Policy
        %br
          / {%FOOTER_LINK}
      .social
        %a{:href => "#", :title => "Facebook"}
          %img{:alt => "", :src => "/images/soc1.png"}/
        %a{:href => "http://www.twitter.com/dasibre", :title => "Twitter"}
          %img{:alt => "", :src => "/images/soc2.png"}/
        %a{:href => "#", :title => "Google +"}
          %img{:alt => "", :src => "/images/soc3.png"}/
        %a{:href => "#", :title => "RSS"}
          %img{:alt => "", :src => "/images/soc4.png"}/
        %a{:href => "#", :title => "RSS"}
      .clear