.grid_12
  %header
    %h1
      %a.logo{:href => "index.html"} ou
    %nav
      %ul.sf-menu
        %li.current
          %a{:href => "index.html"} about us
        %li
          %a{:href => "index-1.html"} portfolio
        %li
          %a{:href => "index-2.html"} clients
        %li
          %a{:href => "index-3.html"} blog
        %li
          %a{:href => "index-4.html"} mail us
      .clear
    .clear